# Build files
Orange3_Recommendation.egg-info
Orange3_Recommendation.egg-info/*
llvmlite
llvmlite/*

# Documentation
doc/build
doc/build/*
doc/source/_static
doc/source/_static/*
doc/source/_templates
doc/source/_templates/*

# Virtual environment
orange3venv-recsys/

# Unversioned files
*.pyc

# Editor files
.idea
.idea/*

# Others
*~
.project
.pydevproject
.settings/*
.DS_Store

# Coverage
.coverage
coverage.xml
