# Build files
Orange3_Recommendation.egg-info
Orange3_Recommendation.egg-info/*
llvmlite
llvmlite/*

# Documentation
doc/source/_static
doc/source/_static/*
doc/source/_templates
doc/source/_templates/*

# Virtual environment
orange3venv-recsys/

# Unversioned files
*.pyc

# Editor files
.idea
.idea/*

# Others
*~
.project
.pydevproject
.settings/*
.DS_Store

# Coverage
.coverage
coverage.xml
orangecontrib/__pycache__/
orangecontrib/recommendation/__pycache__/
orangecontrib/recommendation/baseline/__pycache__/
orangecontrib/recommendation/evaluation/__pycache__/
orangecontrib/recommendation/ranking/__pycache__/
orangecontrib/recommendation/rating/__pycache__/
orangecontrib/recommendation/tests/__pycache__/
orangecontrib/recommendation/tests/coverage/__pycache__/
orangecontrib/recommendation/tutorials/__pycache__/
orangecontrib/recommendation/utils/__pycache__/
orangecontrib/recommendation/widgets/__pycache__/
